<?xml version="1.0"?>
<config>
  <modules>
    <BrandsApi_BrandsApi>
      <version>0.1.0</version>
    </BrandsApi_BrandsApi>
  </modules>
  <frontend>
    <routers>
      <brandsapi>
        <use>standard</use>
          <args>
            <module>BrandsApi_BrandsApi</module>
            <frontName>brandsapi</frontName>
          </args>
      </brandsapi>
    </routers>
		<layout>
		  <updates>
			<brandsapi>
			  <file>brandsapi.xml</file>
			</brandsapi>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <brandsapi>
        <class>BrandsApi_BrandsApi_Helper</class>
      </brandsapi>
    </helpers>
	<blocks>
	  <brandsapi>
		<class>BrandsApi_BrandsApi_Block</class>
	  </brandsapi>
	</blocks>
  </global>
  <admin>
	<routers>
	  <brandsapi>
	    <use>admin</use>
		<args>
		  <module>BrandsApi_BrandsApi</module>
		  <frontName>admin_brandsapi</frontName>
		</args>
	  </brandsapi>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <brandsapi module="brandsapi">
		<title>BrandsApi</title>
		<sort_order>100</sort_order>
		<children>
		  <brandsapibackend module="brandsapi">
			<title>Backend Page Title</title>
			<sort_order>0</sort_order>
			<action>admin_brandsapi/adminhtml_brandsapibackend</action>
		  </brandsapibackend>
		</children>
	  </brandsapi>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<brandsapi translate="title" module="brandsapi">
			  <title>BrandsApi</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <brandsapibackend translate="title">
			<title>Backend Page Title</title>
		  </brandsapibackend>
			  </children>
			</brandsapi>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<brandsapi>
		  <file>brandsapi.xml</file>
		</brandsapi>
	  </updates>
	</layout>
  </adminhtml>
</config> 